Repository eclouz/eclo-webapi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sodiqjonovich, @MirshodRajabboyev, @abdulazizorazbaev, @maxsetovich

.github/CODEOWNERS:

/.github/*                      @sodiqjonovich
/test/*                         @MirshodRajabboyev
/dbf/*                          @abdulazizorazbaev
/src/Eclo.Domain/*              @maxsetovich
/src/Eclo.Application/*         @maxsetovich
/src/Eclo.DataAccess/*          @maxsetovich
/src/Eclo.Persistance/*         @MirshodRajabboyev
/src/Eclo.Services/*            @abdulazizorazbaev
/src/Eclo.WebApi/*              @sodiqjonovich

Written ProductDetailSizeCreateValidatorTest and with update also
  src/Eclo.Persistence/Validations/Products/ProductDetailSizeCreateValidator.cs
  test/Eclo.UnitTest/ValidatorTests/Discounts/DiscountCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailSizeCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailSizeUpdateValidatorTest.cs
Owners: none

Written validator tests for Login and Register
  src/Eclo.Persistence/Validations/Auth/LoginValidator.cs
  test/Eclo.UnitTest/ValidatorTests/Auth/LoginValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Auth/RegisterValidatorTest.cs
Owners: none

Created VerifyRegisterValidatorTest
  src/Eclo.Persistence/Validations/Auth/VerifyRegisterValidator.cs
  test/Eclo.UnitTest/ValidatorTests/Auth/VerifyRegisterValidatorTest.cs
Owners: none

Created ResetPasswordValidatorTest
  src/Eclo.Persistence/Dtos/Auth/ResetPasswordDto.cs
  src/Eclo.Persistence/Validations/Auth/ResetPasswordValidator.cs
  test/Eclo.UnitTest/ValidatorTests/Auth/ResetPasswordValidatorTest.cs
Owners: none

Logins for admin and head logins have been written
  test/Eclo.UnitTest/ValidatorTests/Auth/AdminLoginValidatorTest .cs
  test/Eclo.UnitTest/ValidatorTests/Auth/HeadLoginValidatorTest.cs
Owners: none

ResetPassword for UserAuth has been added
  src/Eclo.Services/Interfaces/Auth/IUserAuthService.cs
  src/Eclo.Services/Services/Auth/UserAuthService.cs
  src/Eclo.WebApi/Controllers/UserAuthController.cs
Owners: none

Created AdminController for update AdminInfo and role setting for head on admin actions
  src/Eclo.Persistence/Validations/Admins/AdminUpdateValidator.cs
  src/Eclo.Services/Services/Admins/AdminService.cs
  src/Eclo.Services/Services/Heads/HeadService.cs
  src/Eclo.WebApi/Controllers/Admin/AdminBaseController.cs
  src/Eclo.WebApi/Controllers/Admin/AdminController.cs
  src/Eclo.WebApi/Controllers/Admin/Users/AdminUsersController.cs
  src/Eclo.WebApi/wwwroot/Avatars/IMG_a43ab56f-0b64-43a5-946c-695864b21730.svg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_ad5ac159-0cd1-4283-9ec1-354b1e866a74.png
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_33d66c03-141c-4d8f-994d-a73bf26cd78f.png
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_7c590d6c-8a36-43be-b7be-4ec06540b368.png
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_c2a65c56-0430-493d-99ae-de84d0b08e42.svg
Owners: none

Created AdminCreateValidatorTest
  src/Eclo.Persistence/Validations/Admins/AdminCreateValidator.cs
  src/Eclo.WebApi/wwwroot/Avatars/IMG_0a640a6c-d8f2-41cc-a24e-bbd5f7ebccf9.png
  src/Eclo.WebApi/wwwroot/Avatars/IMG_3e14ed64-d098-43fb-b7a5-8d26873d1679.png
  src/Eclo.WebApi/wwwroot/Avatars/IMG_41ba378d-a707-4e3a-8793-060f85372f67.png
  src/Eclo.WebApi/wwwroot/Avatars/IMG_8b56adea-d5dc-49bf-8a98-210cb4a9afa4.png
  src/Eclo.WebApi/wwwroot/Avatars/IMG_a9fcafa6-35cd-441e-9c3d-ebec67ffb8fc.png
  test/Eclo.UnitTest/ValidatorTests/Admins/AdminCreateValidatorTest.cs
Owners: none

Created AdminUpdateValidatorTest
  src/Eclo.Persistence/Validations/Admins/AdminUpdateValidator.cs
  src/Eclo.WebApi/Controllers/Head/HeadController.cs
  src/Eclo.WebApi/Controllers/User/Users/UserController.cs
  test/Eclo.UnitTest/ValidatorTests/Admins/AdminUpdateValidatorTest.cs
Owners: none

Update View.txt
  dbf/View.txt
Owners: @abdulazizorazbaev

Added a new action to AdminProductsController (ProductAdminViewModel)
  dbf/View.txt
  dbf/eclo-db-relations.pgerd
  src/Eclo.DataAccess/Interfaces/Products/IProductRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductRepository.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductAdminViewModel.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductGetViewModel.cs
  src/Eclo.Services/Interfaces/Products/IProductService.cs
  src/Eclo.Services/Services/Products/ProductService.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductsController.cs
  src/Eclo.WebApi/middlewares/ExceptionHandlerMiddleware.cs
Owners: @abdulazizorazbaev

ProductLikesController has been removed to Users' action
  src/Eclo.WebApi/Controllers/User/Products/UserProductLikesController.cs
Owners: none

Just for Checking something
  src/Eclo.WebApi/Controllers/User/Products/UserProductLikesController.cs
Owners: none

Created GetTotalPrice method with some changes on Order and OrderDetail Repositories
  src/Eclo.Application/Eclo.Application.csproj
  src/Eclo.Application/LogicServices/GetTotalPrice.cs
  src/Eclo.DataAccess/Interfaces/Orders/IOrderDetailRepository.cs
  src/Eclo.DataAccess/Repositories/Orders/OrderDetailRepository.cs
  src/Eclo.DataAccess/Repositories/Orders/OrderRepository.cs
  src/Eclo.DataAccess/ViewModels/Orders/OrderViewModel.cs
  src/Eclo.Domain/Entities/Discounts/Discount.cs
  src/Eclo.Domain/Entities/Orders/OrderDetail.cs
Owners: @maxsetovich

Created / OrderCreate/UpdateDtos and OrderDetailCreate/UpdateDtos
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
  src/Eclo.Persistence/Dtos/Orders/OrderCreateDto.cs
  src/Eclo.Persistence/Dtos/Orders/OrderDetailCreateDto.cs
  src/Eclo.Persistence/Dtos/Orders/OrderDetailUpdateDto.cs
  src/Eclo.Persistence/Dtos/Orders/OrderUpdateDto.cs
Owners: none

Added several actions to the UserOrderController and UserOrderDetailController
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
  src/Eclo.DataAccess/Repositories/Orders/OrderRepository.cs
  src/Eclo.Services/Interfaces/Orders/IOrderDetailService.cs
  src/Eclo.Services/Interfaces/Orders/IOrderService.cs
  src/Eclo.Services/Services/Auth/AdminAuthService.cs
  src/Eclo.Services/Services/Orders/OrderDetailService.cs
  src/Eclo.Services/Services/Orders/OrderService.cs
  src/Eclo.WebApi/Controllers/User/Orders/UserOrderController.cs
  src/Eclo.WebApi/Controllers/User/Orders/UserOrderDetailController.cs
Owners: none

Added ResetPassword actions to the AdminAuthController
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
  src/Eclo.Services/Interfaces/Auth/IAdminAuthService.cs
  src/Eclo.Services/Services/Auth/AdminAuthService.cs
  src/Eclo.Services/Services/Auth/UserAuthService.cs
  src/Eclo.Services/Services/Users/UserService.cs
  src/Eclo.WebApi/Controllers/AdminAuthController.cs
Owners: none

Update FilterAsync
  src/Eclo.DataAccess/ViewModels/Products/ProductGetViewModels.cs
  src/Eclo.Services/Interfaces/Products/IProductService.cs
  src/Eclo.Services/Services/Products/ProductService.cs
Owners: none

Modified UserService for usergetbyid service
  src/Eclo.Services/Interfaces/Users/IUserService.cs
  src/Eclo.Services/Services/Users/UserService.cs
  src/Eclo.WebApi/Controllers/User/Users/UserController.cs
Owners: none

Fully Completed Admin and User Auth services
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
  src/Eclo.Services/Interfaces/Auth/IAdminAuthService.cs
  src/Eclo.Services/Interfaces/Auth/IUserAuthService.cs
  src/Eclo.Services/Services/Admins/AdminService.cs
  src/Eclo.Services/Services/Auth/AdminAuthService.cs
  src/Eclo.Services/Services/Auth/UserAuthService.cs
  src/Eclo.WebApi/Controllers/AdminAuthController.cs
  src/Eclo.WebApi/Controllers/UserAuthController.cs
Owners: none

Created AdminAlreadyExistsException and some bugs fixed on AdminService
  src/Eclo.Application/Exceptions/Admins/AdminAlreadyExistsException.cs
  src/Eclo.Application/Exceptions/Users/UserAlreadyExistsException.cs
  src/Eclo.DataAccess/Interfaces/Admins/IAdminRepository.cs
  src/Eclo.DataAccess/Repositories/Admins/AdminRepository.cs
  src/Eclo.Services/Services/Admins/AdminService.cs
  src/Eclo.WebApi/wwwroot/Avatars/IMG_40fe1ad3-be71-4c9a-88ea-c0218c54f40a.png
  src/Eclo.WebApi/wwwroot/Avatars/IMG_bb24eb13-810e-488e-abfe-1fdf1edcb5f4.svg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_c3f8db33-3095-4001-b6b3-073990d87611.svg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_dfdc7070-f250-4630-9c94-2c60d34974d3.svg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_e6f490d0-7399-46d2-8774-9d63bc8abefa.svg
Owners: none

Create a new Middleware for pagination on adminpanel (CrossOriginAccessMiddleware)
  dbf/eclo-db-relations.pgerd
  src/Eclo.Persistence/Validations/Admins/AdminCreateValidator.cs
  src/Eclo.WebApi/Controllers/User/Users/UserController.cs
  src/Eclo.WebApi/Program.cs
  src/Eclo.WebApi/middlewares/CrossOriginAccessMiddleware.cs
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_47678c3b-8869-4da7-bc29-87288f43c487.png
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_e6f551b2-3162-4112-82b2-7a6cea1351a5.png
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_1060966f-460d-43c9-99a6-55e505355325.png
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_e382147f-92af-426d-89f8-5b50025fb56c.png
  test/Eclo.UnitTest/ValidatorTests/Admins/AdminCreateValidatorTest.cs
Owners: @abdulazizorazbaev, @sodiqjonovich

Added action GetAllProductDetailsByProductId service action
  src/Eclo.DataAccess/Interfaces/Products/IProductDetailRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductDetailRepository.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductDetailViewModel.cs
  src/Eclo.Services/Interfaces/Products/IProductDetailService.cs
  src/Eclo.Services/Services/Products/ProductDetailService.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailsController.cs
Owners: none

Created ProductAdminDetailFashionViewModel and some additions on ProductDetailFashionsControllers
  src/Eclo.DataAccess/Interfaces/Products/IProductDetailFashionRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductDetailFashionRepository.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductAdminDetailFashionViewModel.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductDetailFashionViewModel.cs
  src/Eclo.Services/Interfaces/Products/IProductDetailFashionService.cs
  src/Eclo.Services/Services/Products/ProductDetailFashionService.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailFashionsController.cs
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_85e32a13-f437-4580-8720-bdd01b3b3fea.png
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_8ed4af41-06ed-41f6-a330-3645cb2d1290.png
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_f02ef45b-d1ac-44db-aae9-b3be4a77f78a.png
Owners: none

Creates ProductResultViewModel and some changes on controllers
  src/Eclo.DataAccess/Interfaces/Products/IProductRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductRepository.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductResultViewModel.cs
  src/Eclo.Services/Interfaces/Products/IProductService.cs
  src/Eclo.Services/Services/Products/ProductService.cs
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_4eb1713c-f09a-4d00-bd68-3ad193313632.png
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_b93ec292-e4ad-48a4-baa6-21b4feff419e.png
Owners: none

Added views to Views in dbf
  dbf/View.txt
Owners: @abdulazizorazbaev

GetAll action for AdminProductDetailSizeController and some modifications on other services
  src/Eclo.DataAccess/Interfaces/Products/IProductDetailSizeRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductDetailSizeRepository.cs
  src/Eclo.Services/Interfaces/Products/IProductDetailSizeService.cs
  src/Eclo.Services/Services/Products/ProductDetailSizeService.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailFashionsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailSizesController.cs
Owners: none

Changed db connection to digital ocean's postgres server
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
Owners: none

Changed db connection to digital ocean's postgres server
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
Owners: none

Add Filter Get All
  src/Eclo.Services/Services/Products/ProductService.cs
Owners: none

Updated all the validation on the dtos
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
  src/Eclo.Persistence/Validations/Admins/AdminCreateValidator.cs
  src/Eclo.Persistence/Validations/Admins/AdminUpdateValidator.cs
  src/Eclo.Persistence/Validations/Auth/LoginValidator.cs
  src/Eclo.Persistence/Validations/Auth/RegisterValidator.cs
  src/Eclo.Persistence/Validations/Auth/ResetPasswordValidator.cs
  src/Eclo.Persistence/Validations/Auth/VerifyRegisterValidator.cs
  src/Eclo.Persistence/Validations/Brands/BrandCreateValidator.cs
  src/Eclo.Persistence/Validations/Brands/BrandUpdateValidator.cs
  src/Eclo.Persistence/Validations/Categories/CategoryCreateValidator.cs
  src/Eclo.Persistence/Validations/Categories/CategoryUpdateValidator.cs
  src/Eclo.Persistence/Validations/Categories/SubCategoryCreateValidator.cs
  src/Eclo.Persistence/Validations/Categories/SubCategoryUpdateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/DiscountCreateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/DiscountUpdateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/ProductDiscountCreateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/ProductDiscountUpdateValidator.cs
  src/Eclo.Persistence/Validations/Heads/HeadUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailFashionCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailFashionUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailSizeCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailSizeUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductUpdateValidator.cs
  src/Eclo.Persistence/Validations/Users/UserCreateValidator.cs
  src/Eclo.Persistence/Validations/Users/UserUpdateValidator.cs
  src/Eclo.WebApi/wwwroot/Avatars/IMG_48dc17a0-56f2-4b5a-81d1-8ba898aae4d5.png
Owners: none

Some changes on endpoints in orders and orderDetails
  src/Eclo.DataAccess/Interfaces/Orders/IOrderRepository.cs
  src/Eclo.DataAccess/Repositories/Orders/OrderRepository.cs
  src/Eclo.Services/Interfaces/Orders/IOrderService.cs
  src/Eclo.Services/Services/Orders/OrderService.cs
  src/Eclo.WebApi/Controllers/User/Orders/UserOrderController.cs
Owners: none

Necessary changes on ProductViews have been done
  dbf/View.txt
  dbf/eclo-db-relations.pgerd
  src/Eclo.DataAccess/Interfaces/Products/IProductRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductRepository.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductAdminViewModel.cs
  src/Eclo.Services/Interfaces/Products/IProductService.cs
  src/Eclo.Services/Services/Products/ProductService.cs
Owners: @abdulazizorazbaev

Bug has been fixed on productDetailValidations
  src/Eclo.Persistence/Validations/Products/ProductDetailCreateValidator.cs
Owners: none

Bugs in validations on dtos have been ultimately modified
  src/Eclo.Persistence/Validations/Categories/SubCategoryCreateValidator.cs
  src/Eclo.Persistence/Validations/Categories/SubCategoryUpdateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/ProductDiscountCreateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/ProductDiscountUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailFashionCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailFashionUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailSizeCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailSizeUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductUpdateValidator.cs
Owners: none

Bugs in Validations on DTOs have been finally fixed
  dbf/procedure.sql
  src/Eclo.Persistence/Validations/Brands/BrandCreateValidator.cs
  src/Eclo.Persistence/Validations/Brands/BrandUpdateValidator.cs
  src/Eclo.Persistence/Validations/Categories/CategoryCreateValidator.cs
  src/Eclo.Persistence/Validations/Categories/CategoryUpdateValidator.cs
  src/Eclo.Persistence/Validations/Categories/SubCategoryCreateValidator.cs
  src/Eclo.Persistence/Validations/Categories/SubCategoryUpdateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/DiscountUpdateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/ProductDiscountCreateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/ProductDiscountUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailFashionCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailFashionUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailSizeCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailSizeUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductUpdateValidator.cs
  src/Eclo.Services/Services/Brands/BrandService.cs
  src/Eclo.WebApi/Controllers/Admin/Brands/AdminBrandsController.cs
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_7294ec83-1e23-4a39-baa7-5aefcd129961.png
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_fd5d6c4f-7281-4004-b8f6-3e2999eea2da.png
Owners: @abdulazizorazbaev

Created entities of Card and Transaction
  src/Eclo.Domain/Entities/Payments/Card.cs
  src/Eclo.Domain/Entities/Payments/Transaction.cs
  src/Eclo.Persistence/Validations/Products/ProductCreateValidator.cs
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_77793bfc-22ed-40f2-bfa3-82045ac273d3.png
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_a7c80278-29c9-49ec-bee0-fc862972d472.png
Owners: none

Created NotFoundException for card
  dbf/eclo-db-relations.pgerd
  src/Eclo.Application/Exceptions/Payments/CardNotFoundException.cs
  src/Eclo.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
Owners: @abdulazizorazbaev

Created Card's interface and repository
  src/Eclo.DataAccess/Interfaces/Payments/ICardRepository.cs
  src/Eclo.DataAccess/Repositories/Payments/CardRepository.cs
Owners: none

Created DTOs and Validators on cards
  src/Eclo.Persistence/Dtos/Payments/CardCreateDto.cs
  src/Eclo.Persistence/Dtos/Payments/CardUpdateDto.cs
  src/Eclo.Persistence/Validations/Payments/CardCreateValidator.cs
  src/Eclo.Persistence/Validations/Payments/CardUpdateValidator.cs
Owners: none
