Repository eclouz/eclo-webapi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sodiqjonovich, @MirshodRajabboyev, @abdulazizorazbaev, @maxsetovich

Brands, Products, Users validators are updated
  src/Eclo.Persistence/Validations/Brands/BrandCreateValidator.cs
  src/Eclo.Persistence/Validations/Brands/BrandUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailFashionCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailFashionUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailUpdateValidator.cs
  src/Eclo.Persistence/Validations/Users/UserUpdateValidator.cs
Owners: none

Auth, Brands, Categories, Common, Notifications interfaces have been written
  src/Eclo.Services/Interfaces/Auth/IAuthService.cs
  src/Eclo.Services/Interfaces/Auth/ITokenService.cs
  src/Eclo.Services/Interfaces/Brands/IBrandService.cs
  src/Eclo.Services/Interfaces/Categories/ICategoryService.cs
  src/Eclo.Services/Interfaces/Categories/ISubCategoryService.cs
  src/Eclo.Services/Interfaces/Common/IFileService.cs
  src/Eclo.Services/Interfaces/Common/IPaginator.cs
  src/Eclo.Services/Interfaces/Notifications/ISmsSender.cs
Owners: none

bugs are fixed
  src/Eclo.Persistence/Eclo.Persistence.csproj
  src/Eclo.Services/Helpers/MediaHelper.cs
  src/Eclo.Services/Helpers/TimeHelper.cs
Owners: none

Auth, Brands, Catgeories, SMS services have been written
  src/Eclo.Services/Services/Auth/AuthService.cs
  src/Eclo.Services/Services/Auth/TokenService.cs
  src/Eclo.Services/Services/Brands/BrandService.cs
  src/Eclo.Services/Services/Categories/CategoryService.cs
  src/Eclo.Services/Services/Categories/SubCategoryService.cs
  src/Eclo.Services/Services/Common/FileService.cs
  src/Eclo.Services/Services/Common/Paginator.cs
  src/Eclo.Services/Services/Notifications/SmsSender.cs
Owners: none

Service security and Configurations layers are written
  src/Eclo.Services/Eclo.Services.csproj
  src/Eclo.Services/Security/PasswordHasher.cs
  src/Eclo.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
Owners: @abdulazizorazbaev

Updated at Tests
  test/Eclo.UnitTest/Eclo.UnitTest.csproj
  test/Eclo.UnitTest/UnitTest1.cs
  test/Eclo.UnitTest/Usings.cs
  test/Eclo.UnitTest/ValidatorTests/Categories/CategoryCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Categories/CategoryUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Categories/SubCategoryCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Categories/SubCategoryUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Discounts/DiscauntCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Discounts/DiscountUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductUpdateValidatorTest.cs
Owners: none

product repositories are updated
  src/Eclo.DataAccess/Interfaces/Products/IProductDetailFashionRepository.cs
  src/Eclo.DataAccess/Interfaces/Products/IProductDetailRepository.cs
  src/Eclo.DataAccess/Interfaces/Products/IProductRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductDetailFashionRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductDetailRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductRepository.cs
Owners: none

some changes are added
  src/Eclo.Application/Exceptions/Products/ProductCommentNotFoundException.cs
  src/Eclo.DataAccess/Interfaces/Products/IProductCommentRepository.cs
  src/Eclo.DataAccess/Interfaces/Users/IAdminUserRepository.cs
  src/Eclo.DataAccess/Interfaces/Users/IUserRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductCommentRepository.cs
  src/Eclo.DataAccess/Repositories/Users/AdminUserRepository.cs
  src/Eclo.DataAccess/Repositories/Users/UserRepository.cs
  src/Eclo.Persistence/Dtos/Products/ProductDetailUpdateDto.cs
  src/Eclo.Persistence/Dtos/Users/UserCreateDto.cs
  src/Eclo.Persistence/Dtos/Users/UserUpdateDto.cs
  src/Eclo.Persistence/Validations/Users/UserUpdateValidator.cs
Owners: none

Created product interfaces and services
  src/Eclo.Services/Interfaces/Products/IProductCommentService.cs
  src/Eclo.Services/Interfaces/Products/IProductDetailFashionService.cs
  src/Eclo.Services/Interfaces/Products/IProductDetailService.cs
  src/Eclo.Services/Interfaces/Products/IProductService.cs
  src/Eclo.Services/Services/Products/ProductCommentService.cs
  src/Eclo.Services/Services/Products/ProductDetailFashionService.cs
  src/Eclo.Services/Services/Products/ProductDetailService.cs
  src/Eclo.Services/Services/Products/ProductService.cs
Owners: none

Created user interfaces and services
  src/Eclo.Services/Interfaces/Users/IAdminUserService.cs
  src/Eclo.Services/Interfaces/Users/IUserService.cs
  src/Eclo.Services/Services/Users/AdminUserService.cs
  src/Eclo.Services/Services/Users/UserService.cs
Owners: none

Brand service is updated
  src/Eclo.Services/Eclo.Services.csproj
  src/Eclo.Services/Services/Brands/BrandService.cs
Owners: @abdulazizorazbaev

Musor
  src/Eclo.DataAccess/Class1.cs
Owners: @maxsetovich

Some changes are updated
  src/Eclo.Application/Exceptions/Products/ProductDiscountNotFoundException.cs
  src/Eclo.DataAccess/Interfaces/Products/IProductDetailSizeRepository.cs
  src/Eclo.DataAccess/Interfaces/Products/IProductDiscountRepository.cs
  src/Eclo.DataAccess/Interfaces/Products/IUserProductLikeRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductDetailSizeRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductDiscountRepository.cs
  src/Eclo.DataAccess/Repositories/Products/UserProductLikeRepository.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailSizeUpdateValidator.cs
Owners: none

Created IDiscountService and IProductService
  src/Eclo.Services/Interfaces/Discounts/IDiscountService.cs
  src/Eclo.Services/Interfaces/Discounts/IProductDiscountService.cs
Owners: none

Create IProductDetailSizeService and IUserProductLikeService
  src/Eclo.Services/Interfaces/Products/IProductDetailSizeService.cs
  src/Eclo.Services/Interfaces/Products/IUserProductLikeService.cs
Owners: none

Create DiscountService, ProductDiscountService, ProductDetailSizeService and UserProductLikeService
  src/Eclo.Services/Services/Discounts/DiscountService.cs
  src/Eclo.Services/Services/Discounts/ProductDiscountService.cs
  src/Eclo.Services/Services/Products/ProductDetailSizeService.cs
  src/Eclo.Services/Services/Products/UserProductLikeService.cs
Owners: none

Brand, Product, Category controllers have been written
  src/Eclo.WebApi/Configurations/JwtConfiguration.cs
  src/Eclo.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/Eclo.WebApi/Configurations/SwaggerAuthConfiguration.cs
  src/Eclo.WebApi/Controllers/Admin/AdminBaseController.cs
  src/Eclo.WebApi/Controllers/Admin/Brands/AdminBrandsController.cs
  src/Eclo.WebApi/Controllers/Admin/Categories/AdminCategoriesController.cs
  src/Eclo.WebApi/Controllers/Admin/Categories/AdminSubCategoriesController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductCommentsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailFashionsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductsController.cs
  src/Eclo.WebApi/Controllers/Admin/Users/AdminUsersController.cs
  src/Eclo.WebApi/Controllers/Common/Brands/CommonBrandsController.cs
  src/Eclo.WebApi/Controllers/Common/Categories/CommonCategoriesController.cs
  src/Eclo.WebApi/Controllers/Common/Categories/CommonSubCategoriesController.cs
  src/Eclo.WebApi/Controllers/Common/CommonBaseController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductCommentsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductDetailFashionsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductDetailsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductsController.cs
  src/Eclo.WebApi/Controllers/User/Products/UserProductCommentsController.cs
  src/Eclo.WebApi/Controllers/User/UserBaseController.cs
  src/Eclo.WebApi/Controllers/User/Users/UserController.cs
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_18e11606-2c85-489e-a49d-6b4f9e2b0605.jpg
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_ac458e9f-e62e-48a4-8559-68cb02874a78.png
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_0bb78f91-3e42-4aa2-a702-6d9bf48a416b.jpg
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_1e48b834-505c-42e8-982f-f6422daba0bb.jpg
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_3dbfbb88-ad82-43ba-bda8-773ff0210a53.png
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_52a27926-9ec6-41aa-8e15-3a998c8d4f1e.jpg
Owners: none

Product controllers are updated
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductCommentsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailFashionsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductCommentsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductDetailFashionsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductDetailsController.cs
  src/Eclo.WebApi/Eclo.WebApi.csproj
  src/Eclo.WebApi/Program.cs
  src/Eclo.WebApi/appsettings.Development.json
  src/Eclo.WebApi/appsettings.json
Owners: @sodiqjonovich

Brand, Product, Category controllers have been written
  src/Eclo.WebApi/Configurations/JwtConfiguration.cs
  src/Eclo.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/Eclo.WebApi/Configurations/SwaggerAuthConfiguration.cs
  src/Eclo.WebApi/Controllers/Admin/AdminBaseController.cs
  src/Eclo.WebApi/Controllers/Admin/Brands/AdminBrandsController.cs
  src/Eclo.WebApi/Controllers/Admin/Categories/AdminCategoriesController.cs
  src/Eclo.WebApi/Controllers/Admin/Categories/AdminSubCategoriesController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductCommentsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailFashionsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductsController.cs
  src/Eclo.WebApi/Controllers/Admin/Users/AdminUsersController.cs
  src/Eclo.WebApi/Controllers/Common/Brands/CommonBrandsController.cs
  src/Eclo.WebApi/Controllers/Common/Categories/CommonCategoriesController.cs
  src/Eclo.WebApi/Controllers/Common/Categories/CommonSubCategoriesController.cs
  src/Eclo.WebApi/Controllers/Common/CommonBaseController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductCommentsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductDetailFashionsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductDetailsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductsController.cs
  src/Eclo.WebApi/Controllers/User/Products/UserProductCommentsController.cs
  src/Eclo.WebApi/Controllers/User/UserBaseController.cs
  src/Eclo.WebApi/Controllers/User/Users/UserController.cs
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_18e11606-2c85-489e-a49d-6b4f9e2b0605.jpg
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_ac458e9f-e62e-48a4-8559-68cb02874a78.png
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_0bb78f91-3e42-4aa2-a702-6d9bf48a416b.jpg
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_1e48b834-505c-42e8-982f-f6422daba0bb.jpg
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_3dbfbb88-ad82-43ba-bda8-773ff0210a53.png
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_52a27926-9ec6-41aa-8e15-3a998c8d4f1e.jpg
Owners: none

Brand service is updated
  src/Eclo.Services/Eclo.Services.csproj
  src/Eclo.Services/Services/Brands/BrandService.cs
Owners: @abdulazizorazbaev

Product controllers are updated
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductCommentsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailFashionsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductCommentsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductDetailFashionsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductDetailsController.cs
  src/Eclo.WebApi/Eclo.WebApi.csproj
  src/Eclo.WebApi/Program.cs
  src/Eclo.WebApi/appsettings.Development.json
  src/Eclo.WebApi/appsettings.json
Owners: @sodiqjonovich

CorsPolicyConfiguration is written
  src/Eclo.WebApi/Configurations/Layers/CorsPolicyConfiguration.cs
  src/Eclo.WebApi/Program.cs
  src/Eclo.WebApi/middlewares/ExceptionHandlerMiddleware.cs
Owners: @sodiqjonovich

Create Controllers Discount, ProductDiscount, ProductDetailSize and UserProductLike
  src/Eclo.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/Eclo.WebApi/Controllers/Admin/Discounts/AdminDiscountsController.cs
  src/Eclo.WebApi/Controllers/Admin/Discounts/AdminProductDiscountsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailSizesController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminUserProductLikesController.cs
  src/Eclo.WebApi/Controllers/Common/Discounts/CommonDiscountsController.cs
  src/Eclo.WebApi/Controllers/Common/Discounts/CommonProductDiscountsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductDetailSizesController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonUserProductLikesController.cs
Owners: none

some changes are updated
  src/Eclo.Persistence/Validations/Categories/CategoryCreateValidator.cs
  src/Eclo.Persistence/Validations/Categories/CategoryUpdateValidator.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/Eclo.WebApi/Controllers/Admin/Categories/AdminSubCategoriesController.cs
  src/Eclo.WebApi/Controllers/Common/Categories/CommonSubCategoriesController.cs
  src/Eclo.WebApi/Controllers/Common/Discounts/CommonProductDiscountsController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductDetailSizesController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonUserProductLikesController.cs
Owners: none

cors added in program.cs
  src/Eclo.WebApi/Program.cs
Owners: @sodiqjonovich

Auth controllers have been written
  src/Eclo.WebApi/Controllers/AuthController.cs
  src/Eclo.WebApi/Controllers/SmsController.cs
Owners: none

Updated AuthController and Program.cs
  src/Eclo.WebApi/Controllers/AuthController.cs
  src/Eclo.WebApi/Program.cs
Owners: @sodiqjonovich

CreateProductGetViewModel, CreateProductGetViewModel and Update Products Repositories
  src/Eclo.DataAccess/Interfaces/Products/IProductCommentRepository.cs
  src/Eclo.DataAccess/Interfaces/Products/IProductDetailFashionRepository.cs
  src/Eclo.DataAccess/Interfaces/Products/IProductDetailRepository.cs
  src/Eclo.DataAccess/Interfaces/Products/IProductRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductCommentRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductDetailFashionRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductDetailRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductRepository.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductGetViewModel.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductViewModel.cs
Owners: none

CreateProductGetViewModel, CreateProductGetViewModel and Update Products Repositories
  src/Eclo.Domain/Entities/Categories/SubCategory.cs
  src/Eclo.Domain/Entities/Discounts/ProductDiscount.cs
  src/Eclo.Domain/Entities/Products/ProductDetail.cs
  src/Eclo.Persistence/Validations/Categories/CategoryCreateValidator.cs
  src/Eclo.Persistence/Validations/Categories/CategoryUpdateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/DiscountCreateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/DiscountUpdateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/ProductDiscountCreateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/ProductDiscountUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductUpdateValidator.cs
Owners: none

Update ProductsService
  src/Eclo.DataAccess/Class1.cs
  src/Eclo.Services/Interfaces/Products/IProductCommentService.cs
  src/Eclo.Services/Interfaces/Products/IProductDetailFashionService.cs
  src/Eclo.Services/Interfaces/Products/IProductDetailService.cs
  src/Eclo.Services/Interfaces/Products/IProductService.cs
  src/Eclo.Services/Services/Products/ProductCommentService.cs
  src/Eclo.Services/Services/Products/ProductDetailFashionService.cs
  src/Eclo.Services/Services/Products/ProductDetailService.cs
  src/Eclo.Services/Services/Products/ProductService.cs
Owners: @maxsetovich

Update ProductsService
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductFilterControllers.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductViewController.cs
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_7e3682c5-e304-4403-b91d-95ed951efae4.jpg
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_17c651d3-d77e-4fd4-91ba-8e6676867fa4.jpg
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_b4fb1ec7-b0de-4dcd-9182-436f1074fd50.jpg
  src/Eclo.WebApi/wwwroot/Storage/Images/Products/IMG_b575f3a5-1f13-4dd0-ae5e-942fbd2b1ecc.jpg
Owners: none

defects have been corrected
  src/Eclo.Domain/Enums/IdentityRole.cs
  src/Eclo.Persistence/Dtos/Brands/BrandUpdateDto.cs
  src/Eclo.Persistence/Dtos/Products/ProductDetailFashionUpdateDto.cs
  src/Eclo.Persistence/Dtos/Products/ProductDetailUpdateDto.cs
  src/Eclo.Persistence/Dtos/Users/UserUpdateDto.cs
  src/Eclo.Persistence/Validations/Brands/BrandUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailFashionUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailUpdateValidator.cs
  src/Eclo.Persistence/Validations/Users/UserUpdateValidator.cs
  src/Eclo.Services/Interfaces/Auth/IIdentityService.cs
  src/Eclo.Services/Interfaces/Users/IUserService.cs
  src/Eclo.Services/Services/Auth/AuthService.cs
  src/Eclo.Services/Services/Auth/IdentityService.cs
  src/Eclo.Services/Services/Auth/TokenService.cs
  src/Eclo.Services/Services/Users/AdminUserService.cs
  src/Eclo.Services/Services/Users/UserService.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/Eclo.WebApi/Controllers/AuthController.cs
  src/Eclo.WebApi/Controllers/User/Users/UserController.cs
  src/Eclo.WebApi/wwwroot/Avatars/avatar.png
Owners: none

bugs have been fixed
  src/Eclo.DataAccess/Repositories/Categories/SubCategoryRepository.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductViewController.cs
Owners: none

AuthService have been updated
  src/Eclo.Services/Services/Auth/AuthService.cs
Owners: none

defects have been corrected
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductViewController.cs
Owners: none

Update ProductService
  src/Eclo.Services/Services/Products/ProductService.cs
Owners: none

bugs have been updated
  src/Eclo.DataAccess/ViewModels/Products/ProductGetViewModel.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductViewModel.cs
  src/Eclo.Persistence/Validations/Users/UserCreateValidator.cs
  src/Eclo.Persistence/Validations/Users/UserUpdateValidator.cs
  src/Eclo.Services/Services/Products/ProductService.cs
  src/Eclo.WebApi/Controllers/AuthController.cs
Owners: none

bugs have been updated
  src/Eclo.WebApi/Controllers/AuthController.cs
  src/Eclo.WebApi/appsettings.Development.json
  src/Eclo.WebApi/appsettings.json
Owners: @sodiqjonovich

Create GetByPhoneNumber Controller
  src/Eclo.Persistence/Validations/SizeValidator.cs
  src/Eclo.Services/Interfaces/Users/IUserService.cs
  src/Eclo.Services/Services/Users/UserService.cs
  src/Eclo.WebApi/Controllers/Admin/Users/AdminUsersController.cs
  src/Eclo.WebApi/Controllers/User/Users/UserController.cs
  test/Eclo.UnitTest/ValidatorTests/Brands/BrandCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Brands/BrandUpdateValidatorTest.cs
Owners: none

Create ProductDetail GetByIdAsync
  src/Eclo.Services/Interfaces/Products/IProductDetailService.cs
  src/Eclo.Services/Services/Products/ProductDetailService.cs
  src/Eclo.Services/Services/Users/UserService.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductDetailsController.cs
Owners: none

.github/CODEOWNERS:

/.github/*                      @sodiqjonovich
/test/*                         @MirshodRajabboyev
/dbf/*                          @abdulazizorazbaev
/src/Eclo.Domain/*              @maxsetovich
/src/Eclo.Application/*         @maxsetovich
/src/Eclo.DataAccess/*          @maxsetovich
/src/Eclo.Persistance/*         @MirshodRajabboyev
/src/Eclo.Services/*            @abdulazizorazbaev
/src/Eclo.WebApi/*              @sodiqjonovich
