Repository eclouz/eclo-webapi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sodiqjonovich, @MirshodRajabboyev, @abdulazizorazbaev, @maxsetovich

.github/CODEOWNERS:

/.github/*                      @sodiqjonovich
/test/*                         @MirshodRajabboyev
/dbf/*                          @abdulazizorazbaev
/src/Eclo.Domain/*              @maxsetovich
/src/Eclo.Application/*         @maxsetovich
/src/Eclo.DataAccess/*          @maxsetovich
/src/Eclo.Persistance/*         @MirshodRajabboyev
/src/Eclo.Services/*            @abdulazizorazbaev
/src/Eclo.WebApi/*              @sodiqjonovich

Update User Service
  src/Eclo.Services/Services/Users/UserService.cs
Owners: none

Create Controller UserUpdatePhoneNumberAsync
  src/Eclo.DataAccess/Interfaces/Users/IUserRepository.cs
  src/Eclo.DataAccess/Repositories/Users/UserRepository.cs
  src/Eclo.Services/Interfaces/Users/IUserService.cs
  src/Eclo.Services/Services/Users/UserService.cs
  src/Eclo.WebApi/Controllers/User/Users/UserController.cs
Owners: none

Create GetAllViewUserController
  src/Eclo.Services/Interfaces/Products/IProductService.cs
  src/Eclo.Services/Services/Products/ProductService.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductViewController.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductViewUserController.cs
Owners: none

Update ProductGetViewService, Add likedId
  src/Eclo.DataAccess/Repositories/Categories/SubCategoryRepository.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductGetViewModel.cs
  src/Eclo.DataAccess/ViewModels/Products/ProductViewModel.cs
  src/Eclo.Services/Interfaces/Products/IProductService.cs
  src/Eclo.Services/Services/Products/ProductService.cs
  src/Eclo.WebApi/Controllers/Common/Products/CommonProductFilterControllers.cs
Owners: none

Update UserUpdateRepository and UserService
  src/Eclo.DataAccess/Repositories/Users/UserRepository.cs
  src/Eclo.Persistence/Validations/Users/UserUpdateValidator.cs
  src/Eclo.Services/Services/Users/UserService.cs
Owners: none

Update UserProductLikeRepository
  src/Eclo.DataAccess/Repositories/Products/UserProductLikeRepository.cs
Owners: none

ProductComment has been updated
  src/Eclo.DataAccess/Repositories/Products/ProductCommentRepository.cs
  src/Eclo.Persistence/Dtos/Products/ProductCommentCreateDto.cs
  src/Eclo.Persistence/Dtos/Products/ProductCommentUpdateDto.cs
  src/Eclo.Services/Services/Products/ProductCommentService.cs
Owners: none

Installed AutoMapper, and used in Categories, Discounts, and Products Services
  Program.cs
  dbf/View.txt
  eclo-webapi.csproj
  src/Eclo.Services/Eclo.Services.csproj
  src/Eclo.Services/Services/Categories/CategoryService.cs
  src/Eclo.Services/Services/Discounts/DiscountService.cs
  src/Eclo.Services/Services/Products/ProductService.cs
  src/Eclo.WebApi/Configurations/Layers/WebConfiguration.cs
  src/Eclo.WebApi/Configurations/MapperConfiguration.cs
  src/Eclo.WebApi/Program.cs
Owners: @abdulazizorazbaev, @sodiqjonovich

Enitites for Orders have been written
  src/Eclo.Domain/Entities/Orders/Order.cs
  src/Eclo.Domain/Entities/Orders/OrderDetail.cs
Owners: none

Entity for Payments has been done
  src/Eclo.Domain/Entities/Payments/Payment.cs
Owners: none

IOrderRepository and IOrderDetailRepository have been completed
  src/Eclo.DataAccess/Interfaces/Orders/IOrderDetailRepository.cs
  src/Eclo.DataAccess/Interfaces/Orders/IOrderRepository.cs
Owners: none

IPaymentRepository has been created
  src/Eclo.DataAccess/Interfaces/Payments/IPaymentRepository.cs
Owners: none

OrderRepository and OrviewModel have been completed
  dbf/View.txt
  src/Eclo.DataAccess/Interfaces/Orders/IOrderRepository.cs
  src/Eclo.DataAccess/Repositories/Orders/OrderRepository.cs
  src/Eclo.DataAccess/ViewModels/Orders/OrderViewModel.cs
Owners: @abdulazizorazbaev

Created OrderDetailRepository
  src/Eclo.DataAccess/Interfaces/Orders/IOrderDetailRepository.cs
  src/Eclo.DataAccess/Repositories/Orders/OrderDetailRepository.cs
Owners: none

Created PaymentRepository
  src/Eclo.DataAccess/Repositories/Payments/PaymentRepository.cs
Owners: none

Order and Payment not found exceptions have been written
  src/Eclo.Application/Exceptions/Orders/OrderNotFoundException.cs
  src/Eclo.Application/Exceptions/Payments/PaymentNotFoundException.cs
Owners: none

Orders and Payments Interfaces have been created
  src/Eclo.Services/Interfaces/Orders/IOrderDetailService.cs
  src/Eclo.Services/Interfaces/Orders/IOrderService.cs
  src/Eclo.Services/Interfaces/Payments/IPaymentService.cs
Owners: none

OrderService and OrderDetailService have been created
  src/Eclo.Services/Interfaces/Orders/IOrderDetailService.cs
  src/Eclo.Services/Interfaces/Orders/IOrderService.cs
  src/Eclo.Services/Services/Orders/OrderDetailService.cs
  src/Eclo.Services/Services/Orders/OrderService.cs
Owners: none

PaymentService has been written and registered to the layers' configuration
  src/Eclo.Services/Services/Payments/PaymentService.cs
  src/Eclo.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
Owners: none

All the bugs in unittests have been modified
  src/Eclo.Persistence/Validations/Products/ProductDetailCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailFashionCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailFashionUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailUpdateValidator.cs
  test/Eclo.UnitTest/ValidatorTests/Categories/CategoryCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Categories/CategoryUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Categories/SubCategoryCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Categories/SubCategoryUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Discounts/DiscauntCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Discounts/DiscountUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/PasswordValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailFashionCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailFashionUpdateTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductUpdateValidatorTest.cs
Owners: none

Update init.sql
  dbf/init.sql
Owners: @abdulazizorazbaev

Delete dbf/ERD tables view.png
  dbf/ERD tables view.png
Owners: @abdulazizorazbaev

Created Head Entity and some neccessary chnages on controllers
  dbf/ERD tables view.png
  src/Eclo.Domain/Entities/Heads/Head.cs
  src/Eclo.WebApi/Controllers/Admin/AdminBaseController.cs
  src/Eclo.WebApi/Controllers/Common/CommonBaseController.cs
  src/Eclo.WebApi/Controllers/Head/Admins/HeadAdminsController.cs
  src/Eclo.WebApi/Controllers/Head/HeadBaseController.cs
  src/Eclo.WebApi/Eclo.WebApi.csproj
Owners: @abdulazizorazbaev, @sodiqjonovich

Created Head Entity
  src/Eclo.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
Owners: none

Created Head Entity
  src/Eclo.Domain/Entities/Heads/Head.cs
  src/Eclo.Domain/Entities/Heads/HeadEntity.cs
Owners: none

Deleted some uneccessary files
  dbf/ERD tables view.png
  src/Eclo.Domain/Entities/Heads/HeadEntity.cs
Owners: @abdulazizorazbaev

Created head repositories and interfaces
  src/Eclo.DataAccess/Interfaces/Heads/IHeadRepository.cs
  src/Eclo.DataAccess/Repositories/Heads/HeadRepository.cs
Owners: none

HeadUpdateDto has been created
  src/Eclo.Persistence/Dtos/Heads/HeadUpdateDto.cs
Owners: none

HeadUpdateValidator has been written
  src/Eclo.Persistence/Eclo.Persistence.csproj
  src/Eclo.Persistence/Validations/Heads/HeadUpdateValidator.cs
Owners: none

Services on Heads has been completed
  src/Eclo.Services/Interfaces/Heads/IHeadService.cs
  src/Eclo.Services/Services/Heads/HeadService.cs
Owners: none

Written head's controller
  src/Eclo.WebApi/Controllers/Head/HeadController.cs
  src/Eclo.WebApi/Controllers/User/Users/UserController.cs
Owners: none

Create Admin Services
  src/Eclo.Services/Interfaces/Admins/IAdminService.cs
  src/Eclo.Services/Services/Admins/AdminService.cs
  src/Eclo.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
Owners: none

AdminNotFoundException has been written
  src/Eclo.Application/Exceptions/Admins/AdminNotFoundException.cs
  src/Eclo.DataAccess/Repositories/Admins/AdminRepository.cs
Owners: none

Created AdminCreateDto and AdminCreateValidator
  src/Eclo.Persistence/Dtos/Admins/AdminCreateDto.cs
  src/Eclo.Persistence/Validations/Admins/AdminCreateValidator.cs
Owners: none

Completed AdminUpdateDto and some minor chnages on other dtos
  src/Eclo.Domain/Enums/IdentityRole.cs
  src/Eclo.Persistence/Dtos/Admins/AdminUpdateDto.cs
  src/Eclo.Services/Interfaces/Admins/IAdminService.cs
  src/Eclo.Services/Services/Admins/AdminService.cs
  src/Eclo.Services/Services/Heads/HeadService.cs
Owners: none

Created HeadNotFoundException
  src/Eclo.Application/Exceptions/Heads/HeadNotFoundException.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/Eclo.WebApi/wwwroot/Avatars/IMG_2abef9ed-a862-4971-986a-7a8a4b1f669a.JPG
  src/Eclo.WebApi/wwwroot/Avatars/IMG_435aa11e-17db-4013-8387-2ff429228022.svg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_b6f8aa9c-5d55-4e84-987f-e9147ea718d9.svg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_f5ff61e9-e2b4-4142-837f-2464c604a1a1.svg
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_a0b59fb6-ee79-4123-8bb1-c3566aa47fc1.png
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_f7a597f5-2269-44c6-8e6c-a4d73da89999.png
Owners: none

IAdminAuthService and AdminAuthService have been written
  src/Eclo.DataAccess/Interfaces/Admins/IAdminRepository.cs
  src/Eclo.DataAccess/Repositories/Admins/AdminRepository.cs
  src/Eclo.Services/Interfaces/Auth/IAdminAuthService.cs
  src/Eclo.Services/Interfaces/Auth/ITokenService.cs
  src/Eclo.Services/Interfaces/Auth/IUserAuthService.cs
  src/Eclo.Services/Services/Auth/AdminAuthService.cs
  src/Eclo.Services/Services/Auth/TokenService.cs
  src/Eclo.Services/Services/Auth/UserAuthService.cs
Owners: none

Created IHeadAuthService and HeadAuthService
  src/Eclo.Services/Interfaces/Auth/IHeadAuthService.cs
  src/Eclo.Services/Interfaces/Heads/IHeadService.cs
  src/Eclo.Services/Services/Auth/HeadAuthService.cs
  src/Eclo.Services/Services/Heads/HeadService.cs
Owners: none

Auth for Admin and Head have been done
  src/Eclo.WebApi/Controllers/Admin/AdminBaseController.cs
  src/Eclo.WebApi/Controllers/AdminAuthController.cs
  src/Eclo.WebApi/Controllers/Head/Admins/HeadAdminsController.cs
  src/Eclo.WebApi/Controllers/Head/HeadBaseController.cs
  src/Eclo.WebApi/Controllers/HeadAuthController.cs
  src/Eclo.WebApi/Controllers/User/UserBaseController.cs
  src/Eclo.WebApi/Controllers/UserAuthController.cs
Owners: none

Some APIs for Head on Admins have been done
  src/Eclo.Services/Interfaces/Admins/IAdminService.cs
  src/Eclo.Services/Services/Admins/AdminService.cs
  src/Eclo.Services/Services/Users/AdminUserService.cs
  src/Eclo.WebApi/Controllers/Admin/Users/AdminUsersController.cs
  src/Eclo.WebApi/Controllers/Head/Admins/HeadAdminsController.cs
Owners: none
