Repository eclouz/eclo-webapi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sodiqjonovich, @MirshodRajabboyev, @abdulazizorazbaev, @maxsetovich

Written Services on user cards
  src/Eclo.Services/Interfaces/Payments/ICardService.cs
  src/Eclo.Services/Services/Payments/CardService.cs
Owners: none

Created Controllers for AdminCards and UserCards actions
  src/Eclo.WebApi/Controllers/Admin/Payments/AdminCardsController.cs
  src/Eclo.WebApi/Controllers/Head/Admins/HeadAdminsController.cs
  src/Eclo.WebApi/Controllers/User/Payments/UserCardController.cs
Owners: none

Admin and Heads' Login and UpdateProfile combined to one endpoint
  src/Eclo.DataAccess/Interfaces/Heads/IHeadRepository.cs
  src/Eclo.Services/Interfaces/Admins/IAdminService.cs
  src/Eclo.Services/Services/Admins/AdminService.cs
  src/Eclo.WebApi/Controllers/Admin/AdminController.cs
Owners: none

Created Transactions and Cards setting have been done
  src/Eclo.DataAccess/Interfaces/Payments/ITransactionRepository.cs
  src/Eclo.DataAccess/Interfaces/Products/IProductDetailFashionRepository.cs
  src/Eclo.DataAccess/Interfaces/Products/IProductDetailRepository.cs
  src/Eclo.DataAccess/Interfaces/Products/IProductDetailSizeRepository.cs
  src/Eclo.DataAccess/Repositories/Payments/TransactionRepository.cs
  src/Eclo.DataAccess/Repositories/Products/ProductDetailSizeRepository.cs
  src/Eclo.Persistence/Dtos/Payments/CardCreateDto.cs
  src/Eclo.Persistence/Dtos/Payments/TransactionCreateDto.cs
  src/Eclo.Persistence/Validations/Admins/AdminCreateValidator.cs
  src/Eclo.Persistence/Validations/Brands/BrandCreateValidator.cs
  src/Eclo.Persistence/Validations/Brands/BrandUpdateValidator.cs
  src/Eclo.Persistence/Validations/Categories/CategoryCreateValidator.cs
  src/Eclo.Persistence/Validations/Categories/CategoryUpdateValidator.cs
  src/Eclo.Persistence/Validations/Payments/CardCreateValidator.cs
  src/Eclo.Persistence/Validations/Payments/TransactionCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailSizeCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailUpdateValidator.cs
  src/Eclo.Services/Interfaces/Admins/IAdminService.cs
  src/Eclo.Services/Interfaces/Payments/ITransactionService.cs
  src/Eclo.Services/Services/Payments/CardService.cs
  src/Eclo.Services/Services/Payments/TransactionService.cs
  src/Eclo.WebApi/Configurations/Layers/DataAccessConfiguration.cs
  src/Eclo.WebApi/Configurations/Layers/ServiceLayerConfiguration.cs
  src/Eclo.WebApi/Controllers/Admin/Payments/AdminCardsController.cs
  src/Eclo.WebApi/Controllers/Admin/Products/AdminProductDetailFashionsController.cs
  src/Eclo.WebApi/Controllers/User/Payments/UserCardController.cs
  src/Eclo.WebApi/Controllers/User/Payments/UserTransactionsController.cs
  test/Eclo.UnitTest/ValidatorTests/Admins/AdminCreateValidatorTest.cs
Owners: none

DataBase Connection has been changed to server's link
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
Owners: none

ValidationTest Bugs have been fixed
  test/Eclo.UnitTest/ValidatorTests/Admins/AdminCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Brands/BrandUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Categories/SubCategoryCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Categories/SubCategoryUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailFashionCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailFashionUpdateTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailSizeCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailSizeUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductDetailUpdateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductUpdateValidatorTest.cs
Owners: none

Some new modifications on the init file of DB
  dbf/init.sql
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
  src/Eclo.WebApi/wwwroot/Storage/Icons/Brands/IMG_e48eb043-d20b-4904-b179-1cdae5c85838.png
Owners: @abdulazizorazbaev

.
  src/Eclo.WebApi/wwwroot/Avatars/IMG_9402bc06-6769-4507-88b9-8d89e09def42.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_d3bf1420-867f-4da5-992e-531d3241f30e.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_d7872cfc-d84a-489c-adbe-8edd3e425d7b.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_e7530775-fe0c-4304-bef1-38902fdf3074.jpg
Owners: none

Create CommonHeadController to add from api head
  src/Eclo.DataAccess/Repositories/Heads/HeadRepository.cs
  src/Eclo.Persistence/Dtos/Heads/HeadCreateDto.cs
  src/Eclo.Services/Interfaces/Heads/IHeadService.cs
  src/Eclo.Services/Services/Heads/HeadService.cs
  src/Eclo.WebApi/Controllers/Common/Heads/CommonHeadController.cs
  src/Eclo.WebApi/wwwroot/Avatars/IMG_7d50797d-8338-4041-b124-38e97e47dc4c.png
  test/Eclo.UnitTest/ValidatorTests/Products/ProductCreateValidatorTest.cs
  test/Eclo.UnitTest/ValidatorTests/Products/ProductUpdateValidatorTest.cs
Owners: none

Bug has been fixed on Discount name validations
  src/Eclo.Persistence/Validations/Discounts/DiscountCreateValidator.cs
  src/Eclo.WebApi/wwwroot/Avatars/IMG_4f910a55-0f93-4726-8774-af31a0df3879.png
  src/Eclo.WebApi/wwwroot/Avatars/IMG_b93c8cf1-3e82-4c96-9964-6e887a2346ed.png
Owners: none

Some Modifications on HeadAdminControllers on update
  src/Eclo.Services/Interfaces/Admins/IAdminService.cs
  src/Eclo.Services/Services/Admins/AdminService.cs
  src/Eclo.WebApi/Controllers/Head/Admins/HeadAdminsController.cs
  src/Eclo.WebApi/wwwroot/Avatars/IMG_435aa11e-17db-4013-8387-2ff429228022.svg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_45ce97bf-0421-4ec2-95ef-2492febd0505.png
  src/Eclo.WebApi/wwwroot/Avatars/IMG_4f910a55-0f93-4726-8774-af31a0df3879.png
  src/Eclo.WebApi/wwwroot/Avatars/IMG_5f92dd8f-45a5-41c3-a459-9762767aaae7.png
  src/Eclo.WebApi/wwwroot/Avatars/IMG_8b5a4e3f-41f3-4612-9bf5-f3004e97e58e.png
  src/Eclo.WebApi/wwwroot/Avatars/IMG_b93c8cf1-3e82-4c96-9964-6e887a2346ed.png
  src/Eclo.WebApi/wwwroot/Avatars/IMG_d646c6d1-d5ac-43d5-a8b7-1f3389faf780.png
Owners: none

Db connection has been set
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
Owners: none

Middleware has been commented in prevention ways
  src/Eclo.WebApi/Program.cs
  src/Eclo.WebApi/wwwroot/storage/icons/brands/IMG_3dc1cfae-be5a-4f5a-abd5-b0ca960939a3.png
  src/Eclo.WebApi/wwwroot/storage/images/products/IMG_d2faeb4d-18b9-4afe-a388-74ea3de34c77.png
Owners: @sodiqjonovich

Important changes for server deployment
  src/Eclo.Services/Services/Auth/UserAuthService.cs
  src/Eclo.Services/Services/Common/FileService.cs
  src/Eclo.Services/Services/Users/UserService.cs
  src/Eclo.WebApi/Program.cs
  src/Eclo.WebApi/middlewares/ExceptionHandlerMiddleware.cs
Owners: @sodiqjonovich

Some validation rules have been successfully modified
  src/Eclo.Persistence/Validations/Categories/CategoryCreateValidator.cs
  src/Eclo.Persistence/Validations/Categories/CategoryUpdateValidator.cs
  src/Eclo.Persistence/Validations/Categories/SubCategoryCreateValidator.cs
  src/Eclo.Persistence/Validations/Categories/SubCategoryUpdateValidator.cs
  src/Eclo.Persistence/Validations/Discounts/DiscountUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailSizeCreateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailSizeUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductDetailUpdateValidator.cs
  src/Eclo.Persistence/Validations/Products/ProductUpdateValidator.cs
  src/Eclo.WebApi/wwwroot/storage/icons/brands/IMG_fd5ddb70-9fe1-471a-b823-c22884d0e83c.png
Owners: none

Modifications for checking
  src/Eclo.Services/Interfaces/Brands/IBrandService.cs
Owners: none

UserRegister has been updated
  src/Eclo.Services/Services/Auth/UserAuthService.cs
  src/Eclo.WebApi/wwwroot/avatars/IMG_0975dd7a-3a10-47e3-935c-e17e5393e6ff.png
Owners: none

CardExpiredException has been created
  src/Eclo.Application/Exceptions/Payments/CardExpiredException.cs
  src/Eclo.Persistence/Dtos/Payments/CardCreateDto.cs
  src/Eclo.Services/Services/Payments/CardService.cs
Owners: none

Delete src/Eclo.WebApi/wwwroot/Avatars directory
  src/Eclo.WebApi/wwwroot/Avatars/IMG_9402bc06-6769-4507-88b9-8d89e09def42.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_d3bf1420-867f-4da5-992e-531d3241f30e.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_d7872cfc-d84a-489c-adbe-8edd3e425d7b.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_e7530775-fe0c-4304-bef1-38902fdf3074.jpg
  src/Eclo.WebApi/wwwroot/Avatars/avatar.png
Owners: none

Default avatar image has been reset
  src/Eclo.Services/Services/Auth/UserAuthService.cs
  src/Eclo.Services/Services/Users/UserService.cs
  src/Eclo.WebApi/wwwroot/avatars/avatar.png
Owners: none

Release chnages for deploy
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
Owners: none

Add Dockerfile
  .dockerignore
  Dockerfile
  apps/postgres/dockerfile
  apps/postgres/init.sql
  docker-compose.yml
  scripts/linux/docker-cleaner.sh
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
  src/Eclo.WebApi/wwwroot/Avatars/IMG_821e940d-7855-41c8-aad1-e92648bc6675.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_ab648efd-ab7a-4e12-a0e9-daa344ccdf7b.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_c397a5da-1ac4-4dfd-949d-005c3c9c4099.jpg
Owners: none

fixed dockerfile
  apps/postgres/dockerfile
  src/Eclo.DataAccess/Repositories/BaseRepository.cs
Owners: none

deleta Avatars folder
  scripts/linux/docker-cleaner.sh
  src/Eclo.Services/Services/Auth/TokenService.cs
  src/Eclo.Services/Services/Common/FileService.cs
Owners: none

Delete src/Eclo.WebApi/wwwroot/Avatars directory
  src/Eclo.WebApi/wwwroot/Avatars/IMG_821e940d-7855-41c8-aad1-e92648bc6675.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_ab648efd-ab7a-4e12-a0e9-daa344ccdf7b.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_c397a5da-1ac4-4dfd-949d-005c3c9c4099.jpg
Owners: none

Fix Warning in TokenService
  src/Eclo.Services/Interfaces/Admins/IAdminService.cs
  src/Eclo.Services/Services/Auth/TokenService.cs
  src/Eclo.Services/Services/Common/FileService.cs
  src/Eclo.Services/Services/Payments/CardService.cs
  src/Eclo.Services/Services/Users/UserService.cs
  src/Eclo.WebApi/Controllers/User/Payments/UserCardController.cs
  src/Eclo.WebApi/Eclo.WebApi.csproj
  src/Eclo.WebApi/wwwroot/Avatars/IMG_821e940d-7855-41c8-aad1-e92648bc6675.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_ab648efd-ab7a-4e12-a0e9-daa344ccdf7b.jpg
  src/Eclo.WebApi/wwwroot/Avatars/IMG_c397a5da-1ac4-4dfd-949d-005c3c9c4099.jpg
  src/Eclo.WebApi/wwwroot/avatars/IMG_0975dd7a-3a10-47e3-935c-e17e5393e6ff.png
  src/Eclo.WebApi/wwwroot/avatars/IMG_30919568-b4ba-45fd-973d-3e0613c905f9.png
  src/Eclo.WebApi/wwwroot/avatars/IMG_7c4e7989-bed5-4438-9519-eef0d0ee83b1.png
  src/Eclo.WebApi/wwwroot/storage/icons/brands/IMG_3dc1cfae-be5a-4f5a-abd5-b0ca960939a3.png
  src/Eclo.WebApi/wwwroot/storage/icons/brands/IMG_fd5ddb70-9fe1-471a-b823-c22884d0e83c.png
  src/Eclo.WebApi/wwwroot/storage/images/products/IMG_d2faeb4d-18b9-4afe-a388-74ea3de34c77.png
Owners: @sodiqjonovich

add init.sql
  apps/postgres/init.sql
Owners: none

Change port
  docker-compose.yml
Owners: none

Fix TokenService
  src/Eclo.Services/Services/Auth/TokenService.cs
Owners: none

Add Create query View in database
  apps/postgres/init.sql
  dbf/View.sql
Owners: @abdulazizorazbaev

Add init.sql create view query
  apps/postgres/init.sql
  docker-compose.yml
Owners: none

Change port
  docker-compose.yml
Owners: none

Add Image in wwwrot folders
  src/Eclo.WebApi/Accessors/padlock (1).png
  src/Eclo.WebApi/wwwroot/storage/icons/brands/padlock (1).png
  src/Eclo.WebApi/wwwroot/storage/images/products/padlock (1).png
Owners: none

Fix Init.sql file
  apps/postgres/init.sql
  src/Eclo.DataAccess/Interfaces/Products/IProductCommentRepository.cs
Owners: none

.github/CODEOWNERS:

/.github/*                      @sodiqjonovich
/test/*                         @MirshodRajabboyev
/dbf/*                          @abdulazizorazbaev
/src/Eclo.Domain/*              @maxsetovich
/src/Eclo.Application/*         @maxsetovich
/src/Eclo.DataAccess/*          @maxsetovich
/src/Eclo.Persistance/*         @MirshodRajabboyev
/src/Eclo.Services/*            @abdulazizorazbaev
/src/Eclo.WebApi/*              @sodiqjonovich
